.navbar-container{
    padding: 0 100px;
    margin: 0 auto;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
}

.navbar-menu-item a {
    text-decoration: none;
    color: #2c7b95;
    text-transform: uppercase;
    font-weight: 800;
}
